* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1276px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .container {
        width: 90%;
    }
}
.body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #ffffff;
    background: #29aae3;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 26px;
    padding: 12px 18px;
    margin: 0px 10px;
    cursor: pointer;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .button {
        display: flex;
        justify-content: center;
        width: 90%;
    }
}
/*Header*/

@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .burger__btn {
        outline: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        width: 32px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
    }
    .burger__btn::before,
    .burger__btn i,
    .burger__btn::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }
    .burger__btn.active i {
        display: none;
    }
    .burger__btn.active::before {
        position: absolute;
        top: 9px;
        transform: rotate(45deg);
    }
    .burger__btn.active::after {
        position: absolute;
        top: 9px;
        transform: rotate(-45deg);
    }
    
    }

.header-wrapper {
    background-color: #080702;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 12px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .header-wrapper {
        width: auto;
    }
    .header-logo {
        width: 30%;
    }
    .header__content {
        display: flex;
        flex-direction: row-reverse;
    }
}
.header__content {
    display: flex;
    align-items: center;
}
.header__burger {
    display: none;
}

.header__nav {
    margin-right: 23px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .header__nav {
        display: none;
    }
}
.header-nav__item {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    flex: none;
    margin-right: 31px;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.button--header {
    line-height: 23px;
    color: #ffffff;
    background: #29aae3;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    margin-right: 23px;
}
.button--header:active {
    background: #9033f9;
    transition: background 0s;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .button--header {
        display: none;
    }
    .dropbtn {
        margin-right: 22px;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropbtn::after {
    content: "▼";
    color: white;
    margin-left: 3px;
}

.dropbtn {
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown-content a {
    color: #ffffff;
    background-color: black;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.dropdown-content a:hover {
    background-color: #949494;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Main*/
.main__wrapper {
    background-image: url(/img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: top 0px center;
    padding-top: 166px;
    padding-bottom: 181px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .main__wrapper {
        max-width: 100%;
    }
}

.main__title {
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    max-width: 815px;
    margin-bottom: 32px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .main__title {
        font-size: 32px;
        line-height: 37px;
        font-weight: 500;
        width: 335px;
    }
    .main__subscription {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }
}
.main__subscription {
    font-size: 26px;
    line-height: 30px;
    color: #ffffff;
    max-width: 655px;
    margin-bottom: 16px;
}
.button--main {
    padding: 12px 30px;
    background-color: #54a757;
    margin-top: 32px;
}
.button--main:active {
    background: #0062cc;
    transition: background 0.3s;
}

/*Opportunities*/
.opportunities {
    padding-top: 100px;
    padding-bottom: 100px;
}
.opportunities__title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 42px;
    color: #434449;
}
.opportunities__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .opportunities {
        padding-top: 44px;
    }
    .opportunities__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }
    .opportunities__card {
        width: 331px;
        margin-bottom: 16px;
    }
    .opportunities__card:last-child {
        margin-bottom: 44px;
    }
}
.opportunities__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    background: #f9f9f9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-left: 26px;
    padding-right: 13px;
    padding-bottom: 21px;
}
.opportunities__card-wrapper {
    margin-bottom: 40px;
}
.card__img {
    margin-top: 32px;
}
.card__name {
    list-style: none;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #29aae3;
    margin-bottom: 19px;
}
.card__title {
    font-size: 20px;
    line-height: 23px;
    color: #434449;
    margin-bottom: 29px;
}
.card__subscription {
    list-style: none;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #434449;
}
.card__subscription li {
    margin-bottom: 12px;
}
.button--card {
    background-color: #54a757;
    align-self: baseline;
}
.button--card:active {
    background-color: #0062cc;
    transition: background 0.3s;
}
.card__subscription li::before {
    color: #29aae3;
    content: "•";
    margin-right: 8px;
    width: 8px;
    height: 8px;
}

/*Schedule*/
.schedule__wrapper {
    background: #f5f6f6;
    padding-top: 70px;
    padding-bottom: 48px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .schedule {
        display: flex;
        flex-direction: column-reverse;
    }
    .schedule__img {
        width: 100%;
        margin-bottom: 32px;
    }
    .schedule__title {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
    }
    .schedule__content {
        width: 333px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.schedule__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #29aae3;
}
.schedule__content {
    flex-basis: 475px;
}
.button--schedule {
    margin-top: 39px;
}
.button--schedule:active {
    background-color: #9033f9;
    transition: background 0.3s;
}
.schedule__img {
    margin-top: 40px;
}

/*Team*/

.team__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}
.team__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #9033f9;
}
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .team__img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
    .team__title {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
    }
    .team__content {
        max-width: 335px;
    }
}
.team__img {
    margin-top: 40px;
    margin-right: 125px;
}
.team__content {
    flex-basis: 425px;
}
.team__subscription {
    white-space: pre-line;
}

.button--team {
    margin-top: 32px;
    background-color: #9033f9;
}
.button--team:active {
    background-color: #54a757;
    transition: background 0.3s;
}
/*Break*/
.break__wrapper {
    background: #f5f6f6;
    padding-top: 70px;
    padding-bottom: 63px;
}

.break__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #ff5966;
    margin-bottom: 19px;
}
.break {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .break {
        display: flex;
        flex-direction: column-reverse;
    }
    .break__img {
        max-width: 100%;
        margin-bottom: 32px;
    }
    .break__title {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
    }
    .break__content {
        width: 335px;
    }
}

.break__content {
    flex-basis: 445px;
}
.break__subscription {
    margin-bottom: 40px;
}

.button--break {
    background-color: #ff5966;
}
.button--break:active {
    background-color: #54a757;
    transition: background 0.3s;
}
.break__img {
}

/*Video part*/

.video {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .video {
        max-width: 100%;
        padding-top: 44px;
        padding-bottom: 44px;
    }
    .video__title {
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
    }
    .video__link{
        width: 100%;
       
    }
    .iframe-video {
        width: 100%;
        height: 100%;
    }
    .video__contact {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        
    }
}
.video__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #434449;
    margin-bottom: 50px;
}
.video__content {
    text-align: center;
}
.video_link {
    margin-bottom: 100px;
}
.video__contact {
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    color: #434449;
    white-space: pre-line;
}

.video__contact a {
    color: #29aae3;
    text-decoration: none;
}
.video__social {
    margin-top: 60px;
}
.video__btn {
    display: inline-flex;
    justify-content: center;
    background-color: #9033f9;
    border-radius: 100%;
    padding: 16px 15px;
    margin-right: 25px;
}
.video__btn:first-child {
    padding: 14px 20px;
    background-color: #3d5a96;
}
.video__btn:last-child {
    margin-right: 0;
}
.video__btn:nth-child(2) {
    background-color: #2aa3ef;
}
.video__btn:nth-child(3) {
    background-color: #007ab7;
}
.video__btn:nth-child(4) {
    background-color: #f52929;
}

/*Footer*/
.footer__wrapper {
    background-color: #53a8dd;
    padding-top: 55px;
    padding-bottom: 83px;
    text-align: center;
}

.footer__navigation {
    content: "";
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 24px;
    margin-bottom: 22px;
}
.navigation__item {
    text-decoration: none;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    margin-right: 36px;
}
.navigation__item:last-child {
    margin-right: 0;
}
.footer__btn {
    display: inline-flex;
    align-items: center;
    margin-bottom: 12px;
}
.footer__btn:first-child {
    margin-right: 8px;
}
.footer__copyright {
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.footer__copyright a {
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-right: 1px solid;
    margin-right: 10px;
    padding-right: 10px;
}
